.soft__skills {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px;
    color: #303030;
    font-family: 'Inter Tight', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.soft__skills ul {
    display: flex;
    flex-direction: row;
}

.soft__skills ul li {

    text-align: justify;
}